{
  "app": {
    "secret": "c2VjcmV0"
  },
  "database": {
    "type": "mariadb",
    "username": "root",
    "password": "password",
    "database": "database",
    "entities": [
      "lib/*/entities/*.js"
    ],
    "synchronize": false,
    "logging": false,
    "extra": {
      "socketPath": "/cloudsql/socketPath"
    }
  },
  "lunchTeam": {
    "email": "giacomo.trudu@udemy.com",
    "password": "******"
  },
  "algolia": {
    "applicationId": "applicationId",
    "apiKey": "apiKey"
  },
  "slack": {
    "appId": "appID",
    "verificationToken": "verificationToken",
    "accessToken": "accessToken",
    "mainChannel": "chefbot-channel"
  }
}
